<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="vue1.js" defer></script>
</head>
<body>
  <h1>Pruebas con Vue.js</h1>
  <div id="app">
    <h2>{{ message }}</h2>
    <h3>{{ saludo }}</h3>
    <p>Vue dice {{ saludo }}</p>
    <input type="text" v-model="saludo"><br>
    <input type="text" v-model.lazy="saludo"><br>
    <p>Modulo elegido: {{ modulo }}</p>
    <select name="" id="" v-model="modulo">
      <option value="DOR">Diseño Interfaces</option>
      <option value="DEW">Lado cliente</option>
      <option value="DSW">Lado servidor</option>
      <option value="DPL">Despliegue</option>
    </select>
    <p>
      <input type="checkbox" v-model="mostrar">Mostrar h1
    </p>
    <h1 v-if="mostrar">Esto se muestra porque mostrar=true</h1>
    <h1 v-else>Texto alternativo</h1>
    <h2 v-show="mostrar">Solo esta línea</h2>
    <ul>
      <li v-for="(fruta, indice) in frutas">
        {{ indice }} - {{ fruta }}
      </li>
    </ul>
    <select name="" id="" v-model="fruta">
      <option 
        v-for="(fruta, indice) in frutas" 
        :value="indice">{{ fruta }}</option>
    </select>
    <p>Indice de la fruta seleccionada es: {{fruta}}</p>
    <p>{{ cliente.id }} - {{ cliente.name }} - {{ cliente.age }} </p>
    <p>Nombre: <input type="text" v-model="cliente.name"></p>
    <p>Edad: <input type="number" v-model="cliente.age"></p>
    <p>
      <button v-on:click="cliente.age++">Cumplir años</button>
      <button @click="cliente.age--">Descumplir años</button>
      <h3 @mouseover="cliente.age++">Cumplir años</h3>
      <button @click="mayusculas()">Poner en mayusculas</button>
    </p>
  </div>
</body>
</html>